
@media (min-width: 992px) {

	.hotel-name {
		width: 100%;
	}

	.popularcard {
		margin: auto;
		margin-top: 20px;
		position: relative;
	}

	.card {
		flex-basis: calc(33.33% - 40px);
		margin: auto;
		margin-top: 30px;
		position: relative;
	}

	#filter-section {
		margin-left: 13px;
	}
    

	.card img {
		padding: 0;
		margin: 0;
	}

	.popularcard-container {
		width: 100%;

	}
	
	.popularcard {
		width: 80%;
	}

	.show-more-link {
		position: relative;
		bottom: 20px;
	}

	.price {
		width: 100%;
	}

	.popularcard .star-container {
		position: relative;
		bottom: 50px;
	}

	.card img {
		width: 100%;
	}

    .left-column .wider-column img {
        height: 80%;
    }
    
    .left-column .narrower-column img {
        height: 73%;
    }

    .insidecolumn.right img {
        height: 80%;
    }    
}