footer {
	background-color: #F2F2F2;
	padding: 20px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}

.about-section-col {
	flex-basis: 30%;
}
 
h3 {
	margin-left: 37px;
	font-size: 14px;
	font-weight: 900;
}

.footer-container h4 {
    margin-left: auto;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: 900;
}

.footer-container ul {
	list-style: none;
	padding: 0;
	margin: 0;

}

.footer-container li {
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: 500;
}

.footer-container .Assistance {
	margin-right: 25px;
}