body{
     box-sizing: border-box; 
    font-family: 'Raleway', sans-serif;
     margin: 0;
     padding: 0; 
    overflow-x: hidden;
 } 
    html{ 
    scroll-behavior: smooth; 
    width:100%;
    }
    